<div class="row">
    <div class="col-md-4">


        <div class="card mb-4 shadow-sm">

                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/apple1.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: Apple
                        <br/> Prize: 180/kg 
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>


                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/blueberries1.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name:
                        <br/> Prize: 100 Rs/pack
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>
    

                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/banana1.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: Banana
                        <br/> Prize: 50 Rs/ dozne
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>
                </div>


        <div class="card mb-4 shadow-sm">
            <br/><br/>
                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/cantaloupe1.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: cantaloupe
                        <br/> Prize: 100 Rs/piece
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>

        <div class="card mb-4 shadow-sm">
            <br/><br/>
                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/cherry1.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: Cherry
                        <br/> Prize: 150 Rs/pack
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <br/><br/>
                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/papaya1.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: Papaya
                        <br/> Prize: 70 Rs/ kg
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <br/><br/>
                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/pineapple1.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: Pineapple
                        <br/> Prize: 100 Rs/ piece
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <br/><br/>
                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/kiwi1.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: Kiwi
                        <br/> Prize: 18 Rs/piece
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <br/><br/>
                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/coco2.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: Coconut Water
                        <br/> Prize: 50 Rs/ piece
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>
        </div>


        <div class="card mb-4 shadow-sm">
            <br/><br/>
                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/orange1.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: Orange 
                        <br/> Prize: 100 Rs/dozen
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>
        </div>
        
        <div class="card mb-4 shadow-sm">
            <br/><br/>
                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/pear1.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: pear
                        <br/> Prize: 200 Rs/ kg
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>
        </div>


        <div class="card mb-4 shadow-sm">
            <br/><br/>
                <img  class="bd-placeholder-img card-img-top" width="150px" 
                        src="../../../assets/grapes3.jpg"> 
            
                <div class="card-body">
                    <p class="card-text">Name: Grapes
                        <br/> Prize: 100 Rs/ pack
                    </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                  </div>
        </div>
    </div>
</div>