  <nav class="navbar navbar-light bg-light">
   <a href="#" ><span class="navbar-brand mb-0 h1">Shop Fruits</span></a>
   <a href="#" ><span class="navbar-brand mb-0 h1">Home</span></a>

   <div class="dropdown">
    <span class="dropdown-toggle navbar-brand mb-0 h1" type="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Fruits
    </span>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Apple</a>
      <a class="dropdown-item" href="#">Kiwi</a>
      <a class="dropdown-item" href="#">Blueberries</a>
      <a class="dropdown-item" href="#">coconut water</a>
      <a class="dropdown-item" href="#">Orange</a>
      <a class="dropdown-item" href="#">Papaya</a>
      
    </div>
  </div>

   <a href="#" ><span class="navbar-brand mb-0 h1">About Us</span></a>
   <a href="#" ><span class="navbar-brand mb-0 h1">Links</span></a>
   <a href="#" ><span class="navbar-brand mb-0 h1">Sign In</span></a>
   <a href="#" ><span class="navbar-brand mb-0 h1">Sign up</span></a>
   <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search"  
      placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" href="https://www.google.com"
      type="submit">Search</button>
  </form>
</nav>
